*{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    height:4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: linear-gradient(to right, #101725, black);
}
.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    }
 .info {
    
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     border: 0.2rem solid black;
}   

.info img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    }

.info:hover{
    border: 0.2rem solid blue;
   
    cursor: pointer;
}
#name{
       padding: 1rem;
       font-size: 2.3rem;
       font-weight:400;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}


.button{
    font-size: 1rem;
     padding-right: 1rem;
     font-weight:400;
     background: black;
    cursor: pointer;
}