* {
    font-family: 'Times New Roman', Times, serif;
}

.profile {
    width: 100%;
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    gap: 15rem;
}

.pic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    height: 350px;
    width: 350px;
    border: 1px solid white;
    border-radius: 50%;
    border-color: #d7d8bb;
    object-fit: cover;
    object-position: center center; 
}

.profileName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.myname {
    color: white;
    font-size: 2.3rem;
}

.aboutme {
    font-size: 2.5rem;    
    color: white;
    position: relative;
    bottom: 3rem;
}

.aboutme::after {
    content: "";
    animation-name: Intro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes Intro {
    0% { content: " " }
    3% { content: " D" } 
    6% { content: " De" } 
    9% { content: " Dev" } 
    15% { content: " Deve" } 
    18% { content: " Devel" } 
    21% { content: " Develo" } 
    24% { content: " Develop" } 
    27% { content: " Develope" } 
    30% { content: " Developer" } 
    33% { content: " Developer " } 
    36% { content: " Developer" } 
    39% { content: " Develope" } 
    42% { content: " Develop" } 
    45% { content: " Develo" } 
    48% { content: " Devel" } 
    51% { content: " Deve" } 
    54% { content: " Dev" } 
    57% { content: " De" } 
    60% { content: " D" } 
    63% { content: " " } 
    66% { content: " C" } 
    69% { content: " Co" } 
    72% { content: " Cod" } 
    75% { content: " Code" } 
    78% { content: " Coder" } 
    81% { content: " Coder " } 
    84% { content: " Coder" }
    87% { content: " Code" }
    90% { content: " Cod" }
    93% { content: " Co" }
    96% { content: " C" }
    99% { content: " " } 
}

.myResume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1.6rem;
}

.myResume .buttons {
    display: inline-block;
    background-color: rgb(5, 5, 37);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1.7rem;
    font-size: 1.2rem;
    border: 2px solid rgb(27, 27, 77);
    border-radius: 5px;
}

.buttons a {
    color: white;
}


@media (max-width: 1024px) {
    .profile {
    gap: 8rem;
    }

    .pic {
        height: 250px;
        width: 250px;
    }

    .pic img {
        height: 250px;
        width: 250px;
    }

    .myname {
        font-size: 2rem;
    }

    .aboutme {
        font-size: 2rem;
        bottom: 1rem;
    }

    .myResume {
        gap: 2rem;
    }

    .myResume .buttons {
        font-size: 1rem;
        padding: 0.5rem 1.2rem;
    }
}


@media (max-width: 768px) {
    .profile {
        gap: 4rem;
        padding: 1rem;
    }


    .myname {
        font-size: 1.5rem;
    }

    .aboutme {
        font-size: 1.5rem;
        bottom: 0.5rem;
    }

}


@media (max-width:600px) {
    .profile {
        gap: 2rem;
    }
    .pic {
        height: 10rem;
        width: 10rem;
    }

    .pic img {
         height: 10rem;
        width: 10rem;
    }

}

@media (max-width:450px) {
    .profile {
       flex-direction: column;
       gap: 0.5rem;
    }
  
    .myname {
        font-size: 1.6rem;
    }


    .pic {
        height: 12rem;
        width: 12rem;
    }

    .pic img {
         height: 12rem;
        width: 12rem;
    }

}


@media (max-width:350px) {
    
  
    .myname {
        font-size: 1.6rem;
    }
        

}