*{
    font-family: 'Times New Roman', Times, serif;
}
.profile{
    width: 100vw;
    height: 70vh;
    display: flex; 
    justify-content:center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    gap: 10rem;

}


.pic{
    /* background-color: azure; */
    height: 350px;
    width: 350px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.pic img{
    height:350px;
    width: 350px;
    border: 1px solid white;
    border-radius: 50%;
    border-color: #d7d8bb;
    object-fit: cover;
    object-position: center center; 
}


.profileName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.myname{
    color:white;
    font-size:2.5rem;
    font-family: 'Times New Roman', Times, serif;
}


.aboutme{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;    
    color:white;
    position: relative;
    bottom: 3rem;
}

.aboutme::after{
        content: "";
        animation-name:Intro;
        animation-duration: 5s;
        animation-iteration-count: infinite;
}

    @keyframes Intro{
        0%{content:" "}
   3%{content:" D"} 
   6%{content:" De"} 
   9%{content:" Dev"} 
  15%{content:" Deve"} 
  18%{content:" Devel"} 
  21%{content:" Develo"} 
  24%{content:" Develop"} 
  27%{content:" Develope"} 
  30%{content:" Developer"} 
  33%{content:" Developer "} 
  36%{content:" Developer"} 
  39%{content:" Develope"} 
  42%{content:" Develop"} 
  45%{content:" Develo"} 
  48%{content:" Devel"} 
  51%{content:" Deve"} 
  54%{content:" Dev"} 
  57%{content:" De"} 
  60%{content:" D"} 
  63%{content:" "} 
  66%{content:" C"} 
  69%{content:" Co"} 
  72%{content:" Cod"} 
  75%{content:" Code"} 
  78%{content:" Coder"} 
  81%{content:" Coder "} 
  84%{content:" Coder"}
  87%{content:" Code"}
  90%{content:" Cod"}
  93%{content:" Co"}
  96%{content:" C"}
  99%{content:" "} 
    }

    .myResume{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 1.6rem;
    }

  .myResume .buttons {
  display: inline-block;
  background-color: rgb(5, 5, 37);
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: 2px solid rgb(27, 27, 77);
  border-radius: 5px;
}
.buttons a{
    color: white;
}