.skills {
 background: #111b2e;
 height: fit-content;
 margin-top: 3rem;
 display: flex;          
 flex-wrap:wrap;   
 align-items: center;
 justify-content: flex-start;    
 gap: 1.5rem;               
 list-style: none;
 width:100%;
 padding: 1rem 0;  

}

.skill {        
  flex: 0 0 auto; 
  width: 6.5rem;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.skill:hover {
  transform: scale(1.05);
}


@media (max-width: 1024px) {
  .skills {
    gap: 1.5rem;
    padding: 1rem;
  }

  .skill {
    width: 6rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .skills {
    gap: 1.2rem;
    padding: 0.8rem;
    
  }

  .skill {
    width: 5.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .skills {
    gap: 0.8rem;
    padding: 0.5rem;
  }

  .skill {
      font-size: 0.85rem;
  }
}

@media (max-width: 360px) {
  .skills {
    gap: 0.6rem;
    padding: 0.3rem;
  }

  .skill {
    font-size: 0.8rem;
  }
}
